global
   log /dev/log    local0

   chroot /var/lib/haproxy
   user haproxy
   group haproxy
   daemon

   stats socket /var/lib/haproxy/stats level admin

defaults
   log     global
   mode    http
   option  httplog
   option  dontlognull
   contimeout 5000
   clitimeout 50000
   srvtimeout 50000

listen goto_app 0.0.0.0:80
   stats enable
   stats uri /haproxy?stats
   stats realm Strictly\ Private
   stats auth admin:admin
   balance roundrobin
   option httpclose
   option forwardfor
{% for host in groups['webservers'] %}
   server {{ hostvars[host].ansible_hostname }} {{ hostvars[host].ansible_default_ipv4.address }}:80 check
{% endfor %}
