<html>
  <head>
    <link href="css/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <img src="pizza.gif">
      <div>{{ ansible_all_ipv4_addresses[0] }}</div>
    </div>
  </body>
</html>
