<html>
    <head>
      <meta http-equiv="pragma" content="no-cache">
      <link href="css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body style="background-color: {{ color }}">
      <div id="container">
        {{ ansible_all_ipv4_addresses[0] }}
      </div>
    </body>
</html>
