<html>
    <head>
      <link href="css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
      <div id="container">
        {{ ansible_all_ipv4_addresses[0] }}
      </div>
    </body>
</html>
